<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/9.5/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         backupGlobals="false"
         bootstrap="./vendor/autoload.php"
         colors="true">
    <coverage includeUncoveredFiles="true">
        <include>
            <directory>src</directory>
        </include>
        <report>
            <clover outputFile="build/coverage.xml"/>
            <html outputDirectory="build/coverage"/>
            <xml outputDirectory="build/coverage-xml"/>
        </report>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[total]=0"/>
    </php>
    <testsuites>
        <testsuite name="MobileDetectBundle Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging/>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
